/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}

body, html{
    padding: 0px;
    margin: 0px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row .item{
    flex: 1;
    min-width: 270px;
}

.btn-add{
    width: 70px;
    height: 70px;
    background: #cddc39;
    color: white;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    display: flex;
}